
@media (max-width: 991.98px) {
    .promo{
        &__wrapper{
            align-items: center;
        }

    }
    .header {
        margin: 0 5px;
    }

    .benefits {
        padding-bottom: 78px;
        &__wrapper {
            margin: 65px 10px 0 10px;
        }
        &__item {
            max-width: 230px;
        }
    }

}

@media (max-width: 767.98px) {
    .header {
        &__logo {
            width: 175px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }

    .promo {
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
    }
    .button {
        width: 125px;
        height: 25px;
        font-size: 10px;
        &_main {
            width: 260px;
            height: 40px;
            font-size: 14px;
        }
    }

    .benefits {
        padding-bottom: 13px;
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 65px 5px 0 5px;
        }
        &__item {
            margin-bottom: 65px;
            max-width: 231px;
        }
    } 
    

}

@media (max-width: 575.98px) {
    .header {
        flex-direction: column;
        &__logo {
            width: 250px;
        }
        &__official {
            font-size: 17px;
            margin-top: 20px;
            span {
                font-size: 26px;
            }
        }
        &__contacts {
            align-self: self-end;
            margin: 35px 20px 0 0;
        }
    }

    .promo {
        padding: 21px 0 50px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 30px;
            line-height: 30px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
            text-align: center;
        }
        &__icons {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__icon {
            width: 170px;
            margin-bottom: 50px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .button {
        &_main {
            margin-top:15px;
            width: 225px;
            height: 35px;
            font-size: 12px;
        }
    }
    .benefits {
        padding: 50px 0 13px 0;
        &__title {
            font-size: 26px;
        }
    }
}
