.benefits {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__title {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 237px;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        margin-top: 38px;
    }
    &__description {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        margin-top: 26px;
        a {
            color: #ff0000;
        }
    }
}