.carousel {
    padding: 81px 0 82px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
    }

    .slick-prev, .slick-next {
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }

    .slick-next {
        right: -66px;
        left: auto;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 40px;
        li {
            list-style: none;
            margin: 0 10px;
        }
        button {
            font-size: 0;
            width: 10px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
            vertical-align: middle;
        }
    }
    .slick-active {
        button {
            background-color: rgb(14, 13, 13);
        }
    }
}