.feed {
    min-height: 940px;
    &__wrapper {
        padding: 70px 10px;
        hr {
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #f6f6f6;
        }
    }
    &__item {
        display: flex;
        img {
            width: 169px;
            height: 169px;
        }
    }
    &__text {
        padding: 0 47px 0 62px;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }
    &__count{
        color: #646464;
        font-size: 14px;
        margin-top: 10px;
        font-weight: 300;
        line-height: 14px;
        text-align: left;
    }
    &__deskr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        margin-top: 20px;
        text-align: left;
    }
}